@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

.main {
    width: 288px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.1);
}

img{
    width: 100%;
    aspect-ratio: 288/196;
    object-fit:cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.contain {
    font-size: 14px;
    color: #5A6A72;
    margin: 0 16px;
}

h2{
    font-weight: 700;
    font-size: 16px;
    color: black;
    white-space: nowrap;
}

.pp {
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    height: calc(14px * 1.6 * 2);
    color: #5A6A72;
}

a {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    padding-left: 2px;
}

a:link {
    color: #29363D;
}